
hr {
  height: 2px;
  border: none;
  background-color: var(--grey);
}

/* World map container styling */
.world-map-container {
  position: relative;
  flex: 1;
  height: 80vh;
  width: 100%;
  padding: 1em;
}

/* Probe origin pin styling */
.probe-pin {
  transition: transform 0.2s ease;
  cursor: pointer;
  background-color: var(--blue);
  width: 38px;
  height: 38px;
  border-radius: 1em;
  border: 6px solid var(--darkest);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; /* Make the pin position absolute */
  transform: translate(-50%, -50%); /* Center the pin */
  color: var(--darkest);
}

.probe-pin:hover {
  transform: translate(-50%, -50%) scale(1.1); /* Keep centered while scaling */
}

.leaflet-tile {
  border-radius: 0; /* Ensure square tiles */
}

/* Orchestrator pin styling */
.orch-pin {
  transition: transform 0.2s ease;
  cursor: pointer;
  background-color: var(--weird);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 6px solid var(--darkest);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; /* Make the pin position absolute */
  transform: translate(-50%, -50%); /* Center the pin */
  color: var(--darkest);
}

.orch-pin:hover {
  transform: translate(-50%, -50%) scale(1.1); /* Keep centered while scaling */
}
